@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom-appearance-none */

.custom-appearance-none input::-webkit-outer-spin-button,
.custom-appearance-none input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.custom-appearance-none input[type="number"] {
  -moz-appearance: textfield;
}
